.historyText {
	margin-top: 20px !important;
	font-style: italic !important;
}

.aboutTextBackground {
	position: absolute;
	width: 380px;
	opacity: 0.08;
	rotate: -10deg;
	right: 20%;
	top: 22%;
}

.values,
.values-dark {
	background-color: var(--bg-navbar) !important;
	padding: 60px 40px;
	border-radius: 6px;
}

.aboutSectionTitle {
	padding: 60px 40px 80px;
	text-align: center;
}

.values-dark {
	background-color: var(--dark-bg-navbar) !important;
}

.valuesCol,
.valuesCol-dark {
	text-align: center;
	padding: 20px 40px;
	transition: background-color 0.5s, color 0.5s ease-out;
}

.valuesCol:hover,
.valuesCol-dark:hover {
	background-color: var(--color-primary);
	color: var(--bg-navbar);
}

.valuesCol p,
.valuesCol-dark p {
	max-width: 35ch;
	margin-inline: auto;
}

.profile-card,
.profile-card-dark {
	text-align: center;
	border: none;
	background-color: var(--bg-modal);
	border-radius: 6px;
}

.profile-card-dark {
	background-color: var(--dark-bg-modal);
}

.aboutCardImg,
.aboutCardImg-dark {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
	transition: box-shadow 0.2s ease-out, transform 0.5s ease;
}

.aboutCardImg:hover,
.aboutCardImg-dark:hover {
	box-shadow: 0 0 20px var(--dark-bg-modal);
	transform: scale(1.05);
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.aboutCardImg-dark:hover {
	box-shadow: 0 0 10px var(--bg-modal);
}

.cardBody {
	background-color: var(--bg-navbar);
}

.cardBody-dark {
	background-color: var(--dark-bg-navbar);
}

.cardBodyLink,
.cardBodyLink-dark {
	border-radius: 6px;
	background-color: var(--bg-navbar);
}

.cardBodyLink-dark {
	background-color: var(--dark-bg-navbar);
}

.developerName {
	margin: 0 0 5px;
	font-weight: var(--title);
	font-size: var(--xl);
	display: block;
	padding: 10px;
}

.developerRole {
	display: block;
	font-size: var(--sm);
	margin-top: 10px;
}

.purpleLink {
	color: var(--color-primary) !important;
	font-size: var(--xl) !important;
	padding: 8px;
}

.purpleLink:hover {
	color: var(--color-primary-interact) !important;
}

.values .valuesCol,
.values-dark .valuesCol-dark {
	padding: calc(30px + (70 - 30) * ((100vw - 400px) / (1600 - 400)));
}

@media (min-width: 991px) {
	.values .valuesCol:nth-child(1) {
		border-bottom: 0.5px solid var(--dark-bg-primary);
		border-right: 0.5px solid var(--dark-bg-primary);
	}

	.values-dark .valuesCol-dark:nth-child(1) {
		border-bottom: 0.5px solid var(--text-terciary);
		border-right: 0.5px solid var(--text-terciary);
	}

	.values .valuesCol:nth-child(2) {
		border-bottom: 0.5px solid var(--dark-bg-primary);
		border-left: 0.5px solid var(--dark-bg-primary);
	}

	.values-dark .valuesCol-dark:nth-child(2) {
		border-bottom: 0.5px solid var(--text-terciary);
		border-left: 0.5px solid var(--text-terciary);
	}

	.values .valuesCol:nth-child(3) {
		border-top: 0.5px solid var(--dark-bg-primary);
		border-right: 0.5px solid var(--dark-bg-primary);
	}

	.values-dark .valuesCol-dark:nth-child(3) {
		border-top: 0.5px solid var(--text-terciary);
		border-right: 0.5px solid var(--text-terciary);
	}

	.values .valuesCol:nth-child(4) {
		border-top: 0.5px solid var(--dark-bg-primary);
		border-left: 0.5px solid var(--dark-bg-primary);
	}

	.values-dark .valuesCol-dark:nth-child(4) {
		border-top: 0.5px solid var(--text-terciary);
		border-left: 0.5px solid var(--text-terciary);
	}
}

@media screen and (max-width: 990px) {
	.aboutTextBackground {
		width: 300px;
		right: 20%;
		top: 30%;
	}

	.values,
	.values-dark {
		padding: 60px 0px;
	}

	.values .valuesCol:not(.valuesCol:last-child) {
		border-bottom: 0.5px solid var(--dark-bg-primary);
	}

	.values-dark .valuesCol-dark:not(.valuesCol-dark:last-child) {
		border-bottom: 0.5px solid var(--bg-primary);
	}

	.profile-card,
	.profile-card-dark {
		margin: 20px;
	}

	.aboutCardImg {
		width: 170px;
		height: 170px;
	}
}
