.calContainer {
	display: flex;
	gap: 40px;
}

/* Calendar menu */

.calendarMenu,
.calendarMenu-dark {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 30px;
	background-color: var(--bg-navbar);
	border-radius: 4px;
	padding: 20px 30px;
	order: 2;
}

.calendarMenu-dark {
	background-color: var(--dark-bg-navbar);
}

.smCal {
	width: 210px;
}

.smCalHeader {
	display: flex;
	gap: 10px;
}

.smCalHeader div {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.addEventBtn {
	z-index: 100;
	width: max-content;
	border: none;
	padding: 0px 4px;
	background-color: var(--color-primary) !important;
	font-weight: var(--button);
	border-radius: 4px;
}

.addEventBtn i {
	color: var(--bg-primary) !important;
	font-size: var(--sm);
}

.smCalHeader i {
	color: var(--calColor);
}

.smWeekDays,
.smMonth {
	display: flex;
	gap: 4px;
}

.smWeekDays {
	gap: 4px;
}

.smWeekDays p {
	font-weight: var(--button);
}

.smMonth {
	flex-direction: column;
}

.smMonth div {
	display: flex;
	gap: 4px;
}

.smMonth div button,
.smWeekDays p {
	color: var(--calColor);
	text-align: center;
	min-width: 27px !important;
	max-width: 27px !important;
	padding: 2px 3.5px !important;
	margin: 0;
}

.calendarMenu .smMonth div button:hover {
	background-color: var(--bg-modal) !important;
}

.calendarMenu-dark .smMonth div button:hover {
	background-color: var(--dark-bg-card-hover) !important;
}

.calendarMenu .smMonth div button.selectedDay:hover,
.calendarMenu-dark .smMonth div button.selectedDay:hover {
	background-color: var(--color-primary-btn-interact) !important;
}

.calendarMenu .smMonth div button.currentDay:hover,
.calendarMenu-dark .smMonth div button.currentDay:hover {
	background-color: var(--color-primary) !important;
}

.smMonth div button:nth-child(6),
.smMonth div button:nth-child(7) {
	color: var(--dark-text-secondary);
}

.smMonth div .currentDay,
.smMonth div .selectedDay {
	padding: 2px 3.5px !important;
}

.eventMenu {
	display: flex;
	flex-direction: column;
	position: relative;
}

.tagContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 14px;
}

.tagContainer label {
	margin: 0;
	gap: 20px;
	display: flex;
	align-items: center;
}

.tagContainer input {
	margin-top: 0 !important;
	-webkit-appearance: none;
	appearance: none;
	display: grid;
	place-content: center;
	position: relative;
}

.tagContainer input[type="checkbox"]::before {
	content: "";
	border-radius: 2px;
	width: 24px;
	height: 24px;
	background-color: white !important;
}

.tagContainer label:nth-child(1) input[type="checkbox"]:before,
.tagContainer label:nth-child(1) input[type="checkbox"]:checked:before {
	background-color: var(--text-red) !important;
}

.tagContainer label:nth-child(2) input[type="checkbox"]:before,
.tagContainer label:nth-child(2) input[type="checkbox"]:checked:before {
	background-color: var(--text-green) !important;
}

.tagContainer label:nth-child(3) input[type="checkbox"]:before,
.tagContainer label:nth-child(3) input[type="checkbox"]:checked:before {
	background-color: var(--text-orange) !important;
}

.tagContainer label:nth-child(4) input[type="checkbox"]:before,
.tagContainer label:nth-child(4) input[type="checkbox"]:checked:before {
	background-color: var(--text-yellow) !important;
}

.tagContainer label:nth-child(5) input[type="checkbox"]:before,
.tagContainer label:nth-child(5) input[type="checkbox"]:checked:before {
	background-color: var(--text-blue) !important;
}

.tagContainer label:nth-child(6) input[type="checkbox"]:before,
.tagContainer label:nth-child(6) input[type="checkbox"]:checked:before {
	background-color: var(--text-purple) !important;
}

.tagContainer label:nth-child(7) input[type="checkbox"]:before,
.tagContainer label:nth-child(7) input[type="checkbox"]:checked:before {
	background-color: var(--text-theme) !important;
}

.tagContainer input[type="checkbox"]::after {
	width: 23px;
	height: 28px;
	content: "✖";
	position: absolute;
	display: grid;
	place-items: center;
	font-size: var(--md);
	transform: scale(0);
	transition: 0.15s transform ease-in-out;
	filter: brightness(0) invert(1) drop-shadow(0 0 1px black);
}

.tagContainer input[type="checkbox"]:checked::after {
	transform: scale(1);
}

/* Calendar header */

.calendarHeader,
.calendarHeader-dark,
.calendarHeader div,
.calendarHeader-dark div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calendarHeader,
.calendarHeader button {
	color: var(--text-primary);
}

.calendarHeader-dark,
.calendarHeader-dark button {
	color: var(--dark-text-primary);
}

.todayBtn {
	font-size: var(--lg);
	font-weight: 500;
}

/* Month */

.month {
	display: flex;
	flex-direction: column;
	width: 100% !important;
	position: relative;
}

.month div {
	flex-grow: 1;
	display: flex;
	min-width: 30px !important;
	width: 100% !important;
	height: calc(120px + (150 - 120) * ((100vh - 600px) / (1000 - 600)));
}

.weekDays {
	display: flex;
}

.weekDays p {
	min-width: 30px !important;
	width: 100% !important;
	padding-left: 10px;
	margin-bottom: 10px;
}

.currentDay,
.otherDay,
.selectedDay {
	font-size: var(--sm);
	width: max-content;
	height: max-content;
	padding: 1px 5px;
	margin: 7px 7px 5px;
	border-radius: 50%;
}

.currentDay {
	color: var(--dark-text-primary) !important;
	background-color: var(--color-primary) !important;
}

.selectedDay {
	color: var(--color-primary) !important;
	background-color: var(--color-primary-btn-interact) !important;
}

.date,
.date-dark {
	outline: 1px solid var(--text-terciary);
	background-color: var(--bg-secondary);
	display: flex;
	flex-direction: column;
	transition: 0.3s ease-in-out;
}

.date:hover {
	background-color: var(--bg-interact);
}

.date-dark {
	outline: 1px solid var(--dark-text-terciary);
	background-color: var(--dark-bg-navbar);
}

.date-dark:hover {
	background-color: var(--dark-bg-modal);
}

.month div:nth-child(6) .date,
.month div:nth-child(7) .date {
	background-color: var(--bg-navbar);
}

.month div:nth-child(6) .date-dark,
.month div:nth-child(7) .date-dark {
	background-color: var(--dark-bg-interact);
}

.month div:nth-child(6) .date:hover,
.month div:nth-child(7) .date:hover {
	background-color: var(--bg-interact);
}

.month div:nth-child(6) .date-dark:hover,
.month div:nth-child(7) .date-dark:hover {
	background-color: var(--dark-bg-card-hover);
}

.eventBlock {
	width: 24px;
	height: 24px;
	border-radius: 2px;
	margin-top: 6px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.eventBlock p {
	margin: 0;
	width: 23px;
	height: 31px;
	font-size: 22px;
	filter: brightness(0) invert(1) drop-shadow(0 0 1px black) !important;
}

.date div,
.date-dark div {
	max-height: 23px !important;
	position: relative;
	margin-bottom: 2.5px;
	border-radius: 2px;
	margin-inline: 6px;
	width: initial !important;
	padding: 1px 5px 0;
	gap: 1px;
	display: grid;
	grid-template-columns: 2fr max-content;
}

.eventLine,
.eventLine-dark {
	height: max-content;
	margin-bottom: 0;
	font-size: var(--xs);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.date .eventTime,
.date-dark .eventTime {
	margin: 0;
	padding-top: 3px;
	font-size: var(--xxxs);
	color: var(--dark-text-terciary);
}

input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(var(--clockColor)) !important;
}

.date-dark .eventTime {
	color: var(--bg-modal);
}

/* Media queries */

@media (max-width: 1350px) {
	.calContainer {
		flex-direction: column;
		gap: 40px;
	}

	.calendarMenu,
	.calendarMenu-dark {
		flex-direction: row;
		gap: 50px;
		order: 0;
	}

	.tagContainer {
		max-height: 228px;
		gap: 9px;
	}

	.eventMenu {
		width: 270px;
	}
}

@media (max-width: 900px) {
	.date .eventTime,
	.date-dark .eventTime {
		display: none;
	}
}

@media (max-width: 800px) {
	.calendarMenu,
	.calendarMenu-dark {
		flex-direction: column;
		align-items: center;
	}

	.eventMenu {
		width: unset;
	}
}
