/* Calendar menu */

.calendarMenu,
.calendarMenu-dark,
.calendarMenu div,
.calendarMenu-dark div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calendarMenu,
.calendarMenu button {
	color: var(--text-primary);
}

.calendarMenu-dark,
.calendarMenu-dark button {
	color: var(--dark-text-primary);
}

.todayBtn {
	font-size: var(--lg);
	font-weight: 500;
}

/* Month */

.month {
	display: flex;
	flex-direction: column;
	width: 100% !important;
	position: relative;
}

.month div {
	flex-grow: 1;
	display: flex;
	min-width: 80px !important;
	width: 100% !important;
	height: 150px;
	/* Adjust based on vh */
}

.weekDays {
	display: flex;
}

.weekDays p {
	min-width: 80px !important;
	width: 100% !important;
	padding-left: 10px;
	margin-bottom: 10px;
}

.smCal {
	width: 235px;
}

.smCalHeader {
	display: flex;
	justify-content: space-between;
}

.smCalHeader i {
	color: var(--calColor);
}

.smWeekDays,
.smMonth {
	display: flex;
	gap: 8px;
}

.smWeekDays p {
	font-weight: var(--button);
}

.smMonth {
	flex-direction: column;
}

.smMonth div {
	display: flex;
	gap: 8px;
}

.smMonth div button,
.smWeekDays p {
	color: var(--calColor);
	text-align: center;
	min-width: 27px !important;
	max-width: 27px !important;
	padding: 2px 3.5px !important;
	margin: 0;
}

.smMonth div button:nth-child(6),
.smMonth div button:nth-child(7) {
	color: var(--dark-text-secondary);
}

.smMonth div .currentDay,
.smMonth div .selectedDay {
	padding: 2px 3.5px !important;
}

.currentDay,
.otherDay,
.selectedDay {
	font-size: var(--sm);
	width: max-content;
	height: max-content;
	padding: 4px 7px;
	margin: 7px;
	border-radius: 50%;
}

.currentDay {
	color: var(--dark-text-primary) !important;
	background-color: var(--color-primary) !important;
}

.selectedDay {
	color: var(--color-primary) !important;
	background-color: var(--color-primary-btn-interact) !important;
}

.date {
	outline: 1px solid var(--text-terciary);
	background-color: var(--bg-secondary);
	display: flex;
	flex-direction: column;
}

.date:hover {
	background-color: var(--bg-interact);
}

.date-dark {
	outline: 1px solid var(--dark-text-secondary);
	background-color: var(--dark-bg-navbar);
	display: flex;
	flex-direction: column;
}

.date-dark:hover {
	background-color: var(--dark-bg-modal);
}

.month div:nth-child(6) .date,
.month div:nth-child(7) .date {
	background-color: var(--bg-navbar);
}

.month div:nth-child(6) .date-dark,
.month div:nth-child(7) .date-dark {
	background-color: var(--dark-bg-interact);
}

.month div:nth-child(6) .date:hover,
.month div:nth-child(7) .date:hover {
	background-color: var(--bg-interact);
}

.month div:nth-child(6) .date-dark:hover,
.month div:nth-child(7) .date-dark:hover {
	background-color: var(--dark-bg-card-hover);
}

.eventBlock {
	width: 24px;
	height: 24px;
	border-radius: 2px;
	margin-top: 6px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.eventBlock i {
	font-size: 22px;
	text-shadow: 0px 0px 5px black;
}

.eventLine,
.eventLine-dark {
	height: max-content;
	width: 100%;
	margin-inline: 6px;
	margin-bottom: 2px;
	padding: 2px 7px;
	border-radius: 2px;
	font-size: var(--sm);
}
