.calContainer {
	display: flex;
	gap: 40px;
}

/* Calendar menu */

.calendarMenu,
.calendarMenu-dark {
	display: flex;
	flex-direction: column;
	gap: 30px;
	background-color: var(--bg-navbar);
	border-radius: 4px;
	padding: 20px 30px;
	order: 2;
}

.calendarMenu-dark {
	background-color: var(--dark-bg-navbar);
}

.smCal {
	width: 210px;
}

.smCalHeader {
	display: flex;
	justify-content: space-between;
}

.smCalHeader i {
	color: var(--calColor);
}

.smWeekDays,
.smMonth {
	display: flex;
	gap: 4px;
}

.smWeekDays {
	gap: 4px;
}

.smWeekDays p {
	font-weight: var(--button);
}

.smMonth {
	flex-direction: column;
}

.smMonth div {
	display: flex;
	gap: 4px;
}

.smMonth div button,
.smWeekDays p {
	color: var(--calColor);
	text-align: center;
	min-width: 27px !important;
	max-width: 27px !important;
	padding: 2px 3.5px !important;
	margin: 0;
}

.calendarMenu .smMonth div button:hover {
	background-color: var(--bg-modal) !important;
}

.calendarMenu-dark .smMonth div button:hover {
	background-color: var(--dark-bg-card-hover) !important;
}

.calendarMenu .smMonth div button.selectedDay:hover,
.calendarMenu-dark .smMonth div button.selectedDay:hover {
	background-color: var(--color-primary-btn-interact) !important;
}

.calendarMenu .smMonth div button.currentDay:hover,
.calendarMenu-dark .smMonth div button.currentDay:hover {
	background-color: var(--color-primary) !important;
}

.smMonth div button:nth-child(6),
.smMonth div button:nth-child(7) {
	color: var(--dark-text-secondary);
}

.smMonth div .currentDay,
.smMonth div .selectedDay {
	padding: 2px 3.5px !important;
}

.eventMenu {
	display: flex;
	flex-direction: column;
}

.eventMenu button {
	padding-inline: calc(10px + (30 - 10) * ((100vw - 600px) / (1600 - 600)));
	padding-block: 4px;
	margin-inline: auto;
	width: max-content;
}

.tagContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 14px;
	margin-top: 40px;
}

.tagContainer label {
	margin: 0;
	gap: 20px;
	display: flex;
	align-items: center;
}

.tagContainer input {
	margin-top: 0 !important;
}

/* Calendar header */

.calendarHeader,
.calendarHeader-dark,
.calendarHeader div,
.calendarHeader-dark div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calendarHeader,
.calendarHeader button {
	color: var(--text-primary);
}

.calendarHeader-dark,
.calendarHeader-dark button {
	color: var(--dark-text-primary);
}

.todayBtn {
	font-size: var(--lg);
	font-weight: 500;
}

/* Month */

.month {
	display: flex;
	flex-direction: column;
	width: 100% !important;
	position: relative;
}

.month div {
	flex-grow: 1;
	display: flex;
	min-width: 30px !important;
	width: 100% !important;
	height: calc(120px + (150 - 120) * ((100vh - 600px) / (1000 - 600)));
}

.weekDays {
	display: flex;
}

.weekDays p {
	min-width: 30px !important;
	width: 100% !important;
	padding-left: 10px;
	margin-bottom: 10px;
}

.currentDay,
.otherDay,
.selectedDay {
	font-size: var(--sm);
	width: max-content;
	height: max-content;
	padding: 1px 5px;
	margin: 7px 7px 5px;
	border-radius: 50%;
}

.currentDay {
	color: var(--dark-text-primary) !important;
	background-color: var(--color-primary) !important;
}

.selectedDay {
	color: var(--color-primary) !important;
	background-color: var(--color-primary-btn-interact) !important;
}

.date,
.date-dark {
	outline: 1px solid var(--text-terciary);
	background-color: var(--bg-secondary);
	display: flex;
	flex-direction: column;
	transition: 0.3s ease-in-out;
}

.date:hover {
	background-color: var(--bg-interact);
}

.date-dark {
	outline: 1px solid var(--dark-text-terciary);
	background-color: var(--dark-bg-navbar);
}

.date-dark:hover {
	background-color: var(--dark-bg-modal);
}

.month div:nth-child(6) .date,
.month div:nth-child(7) .date {
	background-color: var(--bg-navbar);
}

.month div:nth-child(6) .date-dark,
.month div:nth-child(7) .date-dark {
	background-color: var(--dark-bg-interact);
}

.month div:nth-child(6) .date:hover,
.month div:nth-child(7) .date:hover {
	background-color: var(--bg-interact);
}

.month div:nth-child(6) .date-dark:hover,
.month div:nth-child(7) .date-dark:hover {
	background-color: var(--dark-bg-card-hover);
}

.eventBlock {
	width: 24px;
	height: 24px;
	border-radius: 2px;
	margin-top: 6px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.eventBlock i {
	font-size: 22px;
	text-shadow: 0px 0px 2px black;
}

.date div,
.date-dark div {
	max-height: 22px !important;
	position: relative;
	margin-bottom: 2.5px;
	border-radius: 2px;
	margin-inline: 6px;
	width: initial !important;
	padding: 0 5px;
	display: grid;
	align-content: center;
	grid-template-columns: 2fr max-content;
}

.eventLine,
.eventLine-dark {
	height: max-content;
	margin-bottom: 0;
	font-size: var(--xs);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.date .eventTime,
.date-dark .eventTime {
	margin: 0;
	padding-top: 2px;
	font-size: var(--xxs);
	color: var(--dark-text-terciary);
}

.date-dark .eventTime {
	color: var(--bg-modal);
}

@media (max-width: 1350px) {
	.calContainer {
		flex-direction: column;
		gap: 40px;
	}

	.calendarMenu,
	.calendarMenu-dark {
		flex-direction: row;
		gap: 50px;
		order: 0;
	}

	.tagContainer {
		max-height: 180px;
		gap: 6.5px;
		margin-top: 12px;
	}

	.eventMenu {
		margin-inline: unset;
	}
}

@media (max-width: 900px) {
	.date .eventTime,
	.date-dark .eventTime {
		display: none;
	}
}

@media (max-width: 700px) {
	.calendarMenu,
	.calendarMenu-dark {
		flex-direction: column;
	}
}
