/*  */
/* Colors */
/*  */

.colorBlock {
	width: 16px;
	height: 16px;
	background-color: var(--bg-modal) !important;
	margin-top: 6px !important;
}

.colorNone {
	background-color: var(--bg-modal) !important;
}

/* Light */

.colorTheme,
.BirthdayCategory {
	background-color: var(--bg-navbar) !important;
}

.BirthdayCategory {
	border: 1px solid var(--bg-modal);
}

.colorBlue,
.DiaryCategory,
.PersonalCategory {
	background-color: var(--block-blue) !important;
}

.colorRed,
.WorkCategory {
	background-color: var(--block-red) !important;
}

.colorYellow,
.SchoolCategory {
	background-color: var(--block-yellow) !important;
}

.colorGreen,
.TravelCategory {
	background-color: var(--block-green) !important;
}

.colorOrange,
.SocialCategory {
	background-color: var(--block-orange) !important;
}

.colorPurple,
.OtherCategory {
	background-color: var(--block-purple) !important;
}

/* Dark */
.colorThemeDark,
.BirthdayCategoryDark {
	background-color: var(--dark-bg-interact) !important;
}

.BirthdayCategoryDark {
	border: 1px solid var(--dark-text-terciary);
}

.colorBlueDark,
.DiaryCategoryDark,
.PersonalCategoryDark {
	background-color: var(--dark-block-blue) !important;
}

.colorRedDark,
.WorkCategoryDark {
	background-color: var(--dark-block-red) !important;
}

.colorYellowDark,
.SchoolCategoryDark {
	background-color: var(--dark-block-yellow) !important;
}

.colorGreenDark,
.TravelCategoryDark {
	background-color: var(--dark-block-green) !important;
}

.colorOrangeDark,
.SocialCategoryDark {
	background-color: var(--dark-block-orange) !important;
}

.colorPurpleDark,
.OtherCategoryDark {
	background-color: var(--dark-block-purple) !important;
}

.fontDark {
	color: var(--dark-text-primary) !important;
}

/* ColorPickers */

.colorTextNone {
	background: linear-gradient(to top right, var(--bg-navbar) calc(50% - 2px), rgb(255, 7, 7), var(--bg-navbar) calc(50% + 2px));
}

.colorTextTheme,
.colorTextBirthday {
	background-color: var(--text-theme) !important;
	accent-color: var(--text-theme) !important;
}

.colorTextBlue,
.colorTextDiary,
.colorTextPersonal {
	background-color: var(--text-blue) !important;
	accent-color: var(--text-blue) !important;
}

.colorTextRed,
.colorTextWork {
	background-color: var(--text-red) !important;
	accent-color: var(--text-red);
}

.colorTextYellow,
.colorTextSchool {
	background-color: var(--text-yellow) !important;
	accent-color: var(--text-yellow);
}

.colorTextGreen,
.colorTextTravel {
	background-color: var(--text-green) !important;
	accent-color: var(--text-green);
}

.colorTextOrange,
.colorTextSocial {
	background-color: var(--text-orange) !important;
	accent-color: var(--text-orange);
}

.colorTextPurple,
.colorTextOther {
	background-color: var(--text-purple) !important;
	accent-color: var(--text-purple);
}
