/*  */
/* Dashboard */
/*  */

/* Callout */

.Callout,
.Callout-dark {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-grow: 1;
	background-color: var(--bg-navbar);
	border-radius: 4px;
	padding: 10px 16px;
	width: 90%;
	color: var(--text-primary);
}

.Callout-dark {
	background-color: var(--dark-bg-navbar);
	color: var(--dark-text-primary);
}

.Callout p,
.Callout-dark p {
	font-size: var(--lg);
	margin-bottom: 4px;
}

.Callout div,
.Callout-dark div {
	width: 90%;
}

.Callout input,
.Callout-dark input {
	border: none;
	width: 100%;
	background-color: var(--bg-navbar);
	color: var(--text-primary);
}

.Callout-dark input {
	background-color: var(--dark-bg-navbar);
	color: var(--dark-text-primary);
}

.Callout button,
.Callout-dark button {
	background-color: transparent !important;
	border: none !important;
}

/* Todo */

.addTodoInput,
.addTodoInput-dark {
	background-color: var(--bg-navbar);
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding: 10px 16px;
	border-radius: 4px;
	color: var(--text-primary);
}

.addTodoInput-dark {
	background-color: var(--dark-bg-navbar);
	color: var(--dark-text-primary);
}

.todoList i,
.todoList-dark i {
	color: var(--dark-text-primary);
}

.todoList-dark i {
	color: var(--light-text-primary);
}

.addTodoInput input,
.addTodoInput-dark input {
	background-color: transparent;
	width: 100%;
	margin-left: 16px;
	border: none;
}

.addTodoInput-dark input {
	color: var(--dark-text-primary);
}

.addTodoInput button,
.addTodoInput-dark button {
	border: none;
	padding: 3px 7px;
	background-color: var(--color-primary);
	font-weight: var(--button);
	border-radius: 4px;
}

.todoList ul,
.todoList-dark ul {
	margin-top: 20px;
	margin-left: 16px;
	list-style: none;
	padding-left: 2px;
}

.todoList li,
.todoList-dark li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

.todoList li:hover,
.todoList ul input[type="text"]:hover {
	border-radius: 4px;
	background-color: var(--color-primary-btn-interact);
	transition: 0.3s ease;
}

.todoList-dark li:hover,
.todoList-dark ul input[type="text"]:hover {
	color: var(--dark-text-primary) !important;
	transition: 0.3s ease;
}

.todoList li div,
.todoList-dark li div {
	display: flex;
	align-items: center;
}

.todoList input[type="checkbox"],
.todoList-dark input[type="checkbox"] {
	margin-left: 5px;
	margin-right: 20px;
	border-radius: none;
	width: 1.15em;
	height: 1.15em;
	accent-color: var(--color-primary);
}

.todoList ul input[type="text"],
.todoList-dark ul input[type="text"] {
	border: none;
	width: 100%;
	padding: 3px 7px;
	background-color: transparent;
}

.todoList-dark ul input[type="text"] {
	color: var(--dark-text-primary);
}

.deleteTodo,
.deleteTodo-dark {
	border: none;
	padding: 3px 7px;
	font-weight: var(--button);
	background-color: transparent;
	border-radius: 4px;
}
.deleteTodo i {
	color: var(--text-primary) !important;
}

.deleteTodo-dark i {
	color: var(--dark-text-primary) !important;
}

.crossedItem,
.crossedItem-dark {
	text-decoration: line-through !important;
	color: var(--dark-text-secondary) !important;
}

.crossedItem-dark {
	color: var(--light-text-secondary) !important;
}

.crossedItem input[type="text"],
.crossedItem-dark input[type="text"] {
	color: var(--dark-text-secondary) !important;
}

.crossedItem-dark input[type="text"] {
	color: var(--light-text-secondary) !important;
}

.crossedItem-dark input[type="text"] {
	color: var(--light-text-secondary) !important;
}
