/* General styling */

#root {
	min-height: max-content !important;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

h1 {
	font-weight: var(--slogan) !important;
	font-size: var(--xxxxl) !important;
	line-height: 0.8 !important;
}

h2 {
	font-weight: var(--title) !important;
	font-size: var(--xxxl) !important;
}

h4 {
	color: var(--text-secondary) !important;
}

h4 {
	color: var(--text-secondary) !important;
}

a,
button {
	font-weight: var(--link);
}

p {
	font-weight: var(--subtitle);
}

input,
textarea,
input:focus,
textarea:focus {
	outline: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
	font-size: var(--sm) !important;
}

input::placeholder {
	font-size: var(--xs) !important;
	color: var(--dark-text-secondary) !important;
}

.pageContainer,
.pageContainer-dark {
	min-height: 100vh;
	color: var(--text-primary);
	background-color: var(--bg-primary);
	transition: 0.3s ease;
}

.pageContainer-dark {
	color: var(--dark-text-primary);
	background-color: var(--dark-bg-primary);
}
