/* Kanban */

.react-trello-board {
	background-color: transparent !important;
	padding-inline: 0 !important;
	min-height: 100vh !important;
}

[contenteditable="true"] {
	outline: none !important;
}

.react-trello-lane {
	background-color: var(--laneColor) !important;
}

.react-trello-lane {
	padding-inline: 20px !important;
	max-width: 340px !important;
}

.react-trello-lane header {
	padding-top: 5px !important;
	border: none !important;
}

.smooth-dnd-draggable-wrapper > section > header textarea {
	margin-top: 12px !important;
	font-size: var(--lg) !important;
	min-height: 26px !important;
	color: var(--textColor) !important;
}

.react-trello-board textarea {
	width: 100%;
	margin-block: 5px;
}

.react-trello-lane a {
	max-width: max-content;
	padding-inline: 16px !important;
	border-radius: 4px !important;
	margin-inline: auto !important;
	margin-bottom: 8px !important;
}

.react-trello-lane a:hover {
	text-decoration: none;
}

.react-trello-lane div {
	width: 100% !important;
	margin-inline: auto !important;
}

.react-trello-lane div div {
	background-color: transparent !important;
	color: var(--textColor) !important;
	min-width: 290px !important;
	max-width: none !important;
}

.react-trello-card,
.react-trello-lane div div article {
	border: none !important;
	width: 300px !important;
	max-width: none !important;
	margin-bottom: 20px !important;
	background-color: var(--cardColor) !important;
}

.react-trello-card header {
	margin-bottom: 2px;
	display: flex;
}

.react-trello-card header textarea {
	color: var(--headerColor) !important;
	font-size: var(--sm) !important;
	width: 260px !important;
}

.react-trello-card div textarea {
	font-size: var(--xs) !important;
	padding-right: 26px !important;
	min-height: 20px !important;
	color: var(--textColor) !important;
}

.react-trello-card header div {
	width: 15px !important;
	min-width: 15px !important;
	margin-inline: 0 !important;
	right: 19px;
	top: 12px;
}

.react-trello-card header div button {
	border: none !important;
	background-color: transparent !important;
	color: var(--textColor) !important;
}

.comPlainTextContentEditable {
	padding-left: 10px;
	padding-block: 5.5px !important;
}

.comPlainTextContentEditable--has-placeholder::before {
	color: var(--textColor) !important;
}

.comPlainTextContentEditable--has-placeholder {
	padding-block: 5.5px !important;
	padding-left: 10px;
}
