/* Notes */

.createNewNote {
	border: none;
	padding: 3px 7px;
	background-color: var(--color-primary);
	font-weight: var(--button);
	border-radius: 4px;
	height: max-content;
	color: var(--text-primary);
}

table {
	width: 100%;
	border-color: red !important;
}

.tbody-color {
	box-shadow: 0 0 0 1px var(--bg-interact);
}

.tbody-color-dark {
	box-shadow: 0 0 0 1px var(--dark-bg-interact);
}

th {
	padding: 10px 5px;
}

.noteHeaderIcon {
	font-size: var(--sm);
	margin-right: 5px;
}

td {
	padding: 5px;
	box-shadow: 0 0 0 1px var(--bg-interact);
}

td a {
	text-decoration: none;
	color: var(--text-primary);
	font-weight: var(--subtitle);
}

.deleteNoteBtn,
.deleteNoteBtn-dark {
	border: none;
	background-color: transparent;
	color: var(--text-primary);
}

.deleteNoteBtn-dark {
	color: var(--dark-text-primary);
}

.singleNoteLink {
	color: var(--text-primary) !important;
	text-decoration: none !important;
}

.singleNoteLink-dark {
	color: var(--dark-text-terciary) !important;
	text-decoration: none !important;
}

.table-color-border {
	border: 1px solid var(--dark-bg-primary) !important;
}

.table-color-border-dark {
	border: 1px solid var(--dark-bg-interact) !important;
}
