/* Notes */

.note-search,
.note-search-dark {
	background-color: var(--bg-navbar) !important;
	color: var(--text-primary) !important;
	padding: 4px 5px;
	border: none;
	width: calc(110px + (250 - 110) * ((100vw - 400px) / (1600 - 400)));
	border-radius: 4px;
	margin-right: calc(10px + (20 - 10) * ((100vw - 400px) / (1600 - 400)));
	padding-left: 16px;
}

.note-search-dark {
	color: var(--dark-text-primary) !important;
	background-color: var(--dark-bg-navbar) !important;
}

.createNewNote {
	border: none;
	padding: 3px 7px;
	background-color: var(--color-primary);
	font-weight: var(--button);
	border-radius: 4px;
	height: max-content;
	color: var(--text-primary);
}

.createNewNote i {
	color: var(--dark-text-primary);
}

.notesContainer {
	padding: 2px;
}

.noteList {
	width: 100% !important;
	overflow-x: scroll !important;
	white-space: nowrap !important;
	padding: 2px !important;
	/* Hide scrollbar but keep overflow on scroll below */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.noteList::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

table {
	width: 100% !important;
	padding-right: 4px;
}

@media (max-width: 500px) {
	table {
		display: inline-block;
	}
}

.tbody-color {
	box-shadow: 0 0 0 1px var(--bg-interact);
}

.tbody-color-dark {
	box-shadow: 0 0 0 1px var(--dark-bg-interact);
}

th {
	padding: 10px 5px;
}

.noteHeaderIcon {
	font-size: var(--sm);
	margin-right: 5px;
}

td {
	padding: 7px;
	box-shadow: 0 0 0 1px var(--bg-interact);
}

td a {
	text-decoration: none;
	color: var(--text-primary);
	font-weight: var(--subtitle);
}

.deleteNoteBtn,
.deleteNoteBtn-dark {
	border: none;
	background-color: transparent;
	color: var(--text-primary);
}

.deleteNoteBtn-dark {
	color: var(--dark-text-primary);
}

.singleNoteLink {
	color: var(--text-primary) !important;
	text-decoration: none !important;
}

.singleNoteLink-dark {
	color: var(--dark-text-terciary) !important;
	font-size: var(--sm);
	text-decoration: none !important;
}

.noteDate,
.noteShared {
	font-size: var(--sm);
}

.table-color-border {
	border: 1px solid var(--dark-bg-primary) !important;
}

.table-color-border-dark {
	border: 1px solid var(--dark-bg-interact) !important;
}
