/*  */
/* Page header */
/*  */

.Header {
	margin-left: 80px;
}

/* Header Img */

.headerImg {
	object-fit: cover;
	width: 100%;
	height: calc(130px + (200 - 130) * ((100vw - 500px) / (1600 - 500)));
}

.headerImageButton {
	position: absolute;
	bottom: 40px;
	right: 60px;
	border: none;
	background-color: transparent;
	padding: 5px;
	transition: 0.5s ease;
}

.headerImageButton i {
	font-size: var(--xl);
	color: var(--color-primary-btn-interact);
	border-radius: 4px;
	filter: drop-shadow(0 0 4px var(--text-primary));
}

.headerImgPaddingSm {
	padding-left: 80px !important;
	transition: 0.3s ease;
	position: relative;
}

.headerImgPaddingLg {
	padding-left: 230px !important;
	transition: 0.4s ease;
	position: relative;
}

@media (max-width: 600px) {
	.headerImgPaddingSm {
		padding-left: 60px !important;
	}

	.headerImgPaddingLg {
		padding-left: 60px !important;
	}
}

/* Header title */

.headerInput,
.headerInput-dark {
	width: 100%;
	padding-right: 80px;
	border: none;
	font-size: var(--xxxl);
	line-height: 1.1;
	font-weight: var(--slogan) !important;
	color: var(--light-color-primary);
}

.headerInput-dark {
	color: var(--dark-color-primary);
}

.headerInput::placeholder,
.headerInput-dark::placeholder {
	font-size: var(--xxxl) !important;
}

.headerInput:focus {
	outline: none;
}

.headerIcon {
	position: absolute;
	background-color: transparent !important;
	border: none;
	display: block !important;
	top: -40px;
	font-size: var(--icon) !important;
}

/* Header emoji */

.emojiHeader {
	position: absolute;
	bottom: -90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
}

.emojiField {
	font-size: var(--icon);
	margin-bottom: 30px;
	cursor: pointer;
}

.EmojiPickerReact {
	position: absolute !important;
	top: 100px;
	z-index: 100;
	--epr-emoji-size: 25px !important;
}

.epr-body {
	/* Hide scrollbar but keep overflow on scroll below */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.epr-body::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}
