.Pomodoro,
.Pomodoro-dark {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-grow: 1;
	background-color: var(--bg-navbar);
	border-radius: 4px;
	padding: calc(20px + (30 - 20) * ((100vw - 400px) / (1600 - 400))) calc(10px + (16 - 10) * ((100vw - 400px) / (1600 - 400)));
	color: var(--text-primary);
}

.Pomodoro-dark {
	background-color: var(--dark-bg-navbar);
	color: var(--dark-text-primary);
}

.Pomodoro p,
.Pomodoro-dark p {
	position: absolute;
	top: calc(30% + (40 - 30) * ((100vw - 400px) / (1300 - 400)));
	font-size: var(--timer) !important;
}

.pomodoroBtn,
.pomodoroBtn-dark {
	background-color: transparent;
	color: var(--text-primary);
	position: absolute;
	border: 0;
	display: inline-block;
	cursor: pointer;
	top: 50%;
}

.pomodoroBtn i,
.pomodoroBtn-dark i {
	font-size: var(--xxl);
}

.settingsBtn,
.settingsBtn-dark {
	position: absolute;
	top: 5%;
	left: 80%;
}

.settingsBtn i,
.settingsBtn-dark i {
	font-size: var(--lg);
}

.pomodoroBtn-dark,
.settingsBtn-dark {
	color: var(--dark-text-primary);
}

label {
	display: block;
	margin-bottom: 10px;
	margin-top: 20px;
	text-transform: capitalize;
}

.CircularProgressbar {
	width: 70% !important;
}

.PomodoroSettings,
.PomodoroSettings-dark {
	background-color: var(--bg-navbar);
	border-radius: 5px;
	padding: 10px 36px 40px 36px;
	color: var(--text-primary);
}

.PomodoroSettings-dark {
	background-color: var(--dark-bg-navbar);
	color: var(--dark-text-primary);
}

.saveBtn {
	display: flex;
	padding: 8px 26px;
	margin-top: 40px;
	margin-inline: auto;
}

/* Sliders */

.slider,
.slider-gray {
	display: flex;
	align-items: center;
	height: 45px;
	outline: 2px solid var(--color-primary);
	border-radius: 22px;
	width: 100%;
}

.thumb {
	background-color: var(--color-primary);
	cursor: pointer;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.slider-gray {
	outline: 2px solid var(--text-secondary);
}

.slider-gray .thumb {
	background-color: var(--text-secondary);
}

@media (max-width: 600px) {
	.Pomodoro p,
	.Pomodoro-dark p {
		font-size: var(--lg) !important;
	}

	.CircularProgressbar {
		width: 40% !important;
	}

	.grid-container {
		gap: 0;
	}
}
