@media print {
	@page {
		margin: 0;
	}

	.sidebar {
		display: none !important;
	}

	.leftPaddingSm {
		margin-left: 35px !important;
	}

	.leftPaddingLg {
		margin-left: 35px !important;
	}

	.rightMargin {
		margin-right: 30px !important;
	}

	.headerImgPaddingSm {
		padding-left: 0px !important;
	}

	.headerImgPaddingLg {
		padding-left: 0px !important;
	}

	.pageContainer,
	.pageContainer-dark {
		color: var(--text-primary) !important;
		background-color: var(--bg-primary) !important;
	}

	.fontDark {
		color: var(--text-primary) !important;
	}

	.noteInfoBtn,
	.noteInfoBtn-dark,
	.noteInfo,
	.noteInfo-dark {
		display: none;
	}

	.blockList,
	.blockList-dark,
	.blockList p,
	.blockList-dark p {
		color: var(--text-primary) !important;
	}

	.colorTheme,
	.colorThemeDark {
		background-color: var(--bg-navbar) !important;
	}

	.colorBlueDark,
	.DiaryCategoryDark {
		background-color: var(--block-blue) !important;
	}

	.colorRedDark,
	.WorkCategoryDark {
		background-color: var(--block-red) !important;
	}

	.colorYellowDark,
	.SchoolCategoryDark {
		background-color: var(--block-yellow) !important;
	}

	.colorGreenDark,
	.TravelCategoryDark {
		background-color: var(--block-green) !important;
	}

	.colorOrangeDark,
	.SocialCategoryDark {
		background-color: var(--block-orange) !important;
	}

	.colorPurpleDark,
	.OtherCategoryDark {
		background-color: var(--block-purple) !important;
	}
}
