/* Profile */

.modal-content {
	left: 20%;
}

.profileHeader {
	background-color: var(--bg-navbar) !important;
}

.profileHeader-dark {
	color: var(--dark-text-primary);
	background-color: var(--dark-bg-navbar) !important;
}
