/* Sidebar */

.sidebar {
	z-index: 9999;
	position: fixed !important;
}

.sidebar > div:not(.toggled) {
	min-width: 230px !important;
	width: 230px !important;
}

.sidebarProfileImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.head-text {
	padding-top: 4px;
}

.sidebar li {
	margin: 4px 10px;
}

.sidebar-content span {
	font-weight: var(--subtitle);
	font-size: var(--sm);
}

.sidebar-content p {
	font-weight: var(--link);
}

.sidebar-label {
	color: var(--text-secondary);
	font-size: var(--xs);
}

.logout-btn {
	color: var(--color-secondary) !important;
}

.sidebar-brand {
	font-weight: var(--button) !important;
	font-size: var(--md) !important;
}

.modalProfileCheckBox,
.modalProfileCheckBox-dark {
	border-radius: none;
	width: 1.15em;
	height: 1.15em;
	accent-color: var(--color-primary);
	max-width: "max-content";
}
