/* Sidebar */

.sidebar {
	z-index: 9999;
	position: fixed !important;
	display: flex;
}

.sidebar > div:not(.toggled) {
	min-width: 230px !important;
	width: 230px !important;
}

@media (max-width: 600px) {
	.toggled {
		max-width: 60px !important;
		min-width: 60px !important;
		width: 60px !important;
		display: flex !important;
		justify-content: center !important;
		overflow-y: hidden !important;
	}

	.toggled .head-div {
		padding-right: 10px !important;
	}
}

.sidebarProfileImg {
	width: 34px;
	height: 34px;
	border-radius: 50%;
}

.head-text {
	padding-top: 4px;
}

.sidebar li {
	margin: 4px 10px;
}

.sidebar-content span {
	font-weight: var(--subtitle);
	font-size: var(--sm);
}

.sidebar-content p {
	font-weight: var(--link);
}

.sidebar-label {
	color: var(--text-secondary);
	font-size: var(--xs);
}

.logout-btn {
	color: var(--color-secondary) !important;
}

.sidebar-brand {
	font-weight: var(--button) !important;
	font-size: var(--md) !important;
}

.modalProfileCheckBox,
.modalProfileCheckBox-dark {
	border-radius: none;
	width: 1.15em;
	height: 1.15em;
	accent-color: var(--color-primary);
	max-width: "max-content";
}
