/* Utility classes */

.purple-btn,
.purple-outline-btn,
.red-outline-btn,
.react-trello-lane button,
.react-trello-lane a {
	font-weight: var(--button) !important;
	background-color: var(--color-primary) !important;
	font-size: var(--sm) !important;
	text-decoration: none !important;
	color: var(--dark-text-primary) !important;
	border: 1px solid var(--color-primary) !important;
	border-radius: 8px !important;
}

.purple-btn,
.purple-outline-btn,
.red-outline-btn {
	display: block !important;
}

.purple-btn:hover,
.react-trello-lane button:nth-child(2) {
	background-color: var(--color-primary-interact) !important;
}

.purple-outline-btn,
.react-trello-lane a {
	border: 1px solid var(--color-primary) !important;
	background-color: var(--color-primary-btn) !important;
	color: var(--color-primary) !important;
}

.purple-outline-btn:hover,
.react-trello-lane a:hover {
	background-color: var(--color-primary-btn-interact) !important;
}

.red-outline-btn {
	border: 1px solid var(--color-secondary) !important;
	background-color: var(--color-secondary-btn) !important;
	color: var(--color-secondary) !important;
}

.red-outline-btn:hover {
	background-color: var(--color-secondary-interact) !important;
}

.gray-outline-button,
.react-trello-lane button:nth-child(3) {
	border: 1px solid var(--text-secondary) !important;
	background-color: var(--bg-primary) !important;
	color: var(--text-secondary) !important;
	font-weight: var(--button) !important;
	font-size: var(--sm) !important;
}

.gray-outline-button,
.react-trello-lane button:nth-child(3) {
	background-color: var(--bg-navbar) !important;
}

.brand-link {
	text-decoration: none !important;
	color: var(--text-primary) !important;
	font-weight: var(--button) !important;
	font-size: var(--md) !important;
	border-radius: 8px !important;
}

.nav-btn {
	text-decoration: none;
	color: var(--text-primary) !important;
	font-weight: var(--button) !important;
	font-size: var(--sm) !important;
	display: block !important;
	margin-inline: 16px;
	margin-top: 2px !important;
}

.nav-btn:hover,
.nav-btn:focus {
	background-color: var(--bg-interact) !important;
	border-radius: 8px !important;
	text-decoration: none !important;
}

.leftPaddingSm {
	transition: 0.4s ease;
	margin-left: 150px;
}

.leftPaddingLg {
	margin-left: 300px;
	transition: 0.4s ease;
}

.errors-message {
	color: var(--text-primary);
	background-color: var(--bg-primary);
}

.errors-message-dark {
	color: var(--dark-text-primary);
	background-color: var(--dark-bg-primary);
}