/* Utility classes */

.purple-btn,
.purple-outline-btn,
.red-outline-btn,
.react-trello-lane button,
.react-trello-lane a,
.saveBtn {
	font-weight: var(--button) !important;
	background-color: var(--color-primary) !important;
	font-size: var(--sm) !important;
	text-decoration: none !important;
	color: var(--dark-text-primary) !important;
	border: 1px solid var(--color-primary) !important;
	border-radius: 8px !important;
}

.purple-btn,
.purple-outline-btn,
.red-outline-btn,
.gray-outline-btn {
	display: block !important;
}

.purple-btn:hover,
.react-trello-lane button:nth-child(2) {
	background-color: var(--color-primary-interact) !important;
}

.purple-outline-btn,
.react-trello-lane a {
	border: 1px solid var(--color-primary) !important;
	background-color: var(--cardBtnColor) !important;
	color: var(--color-primary) !important;
}

.react-trello-lane a {
	background-color: var(--cardBtnColor) !important;
}

.purple-outline-btn:hover {
	background-color: var(--color-primary-btn-interact) !important;
}

.react-trello-lane a:hover {
	background-color: var(--cardHoverBtnColor) !important;
}

.red-outline-btn {
	border: 1px solid var(--color-secondary) !important;
	background-color: var(--color-secondary-btn) !important;
	color: var(--color-secondary) !important;
}

.red-outline-btn:hover {
	background-color: var(--color-secondary-interact) !important;
}

.gray-outline-btn,
.react-trello-lane button:nth-child(3) {
	border: 1px solid var(--text-secondary) !important;
	background-color: var(--bg-primary) !important;
	color: var(--text-secondary) !important;
	font-weight: var(--button) !important;
	font-size: var(--sm) !important;
}

.gray-outline-btn,
.react-trello-lane button:nth-child(3) {
	background-color: var(--cardBtnColor) !important;
}

.gray-outline-btn:hover,
.react-trello-lane button:nth-child(3):hover {
	background-color: var(--cardHoverBtnColor) !important;
}

.leftPaddingSm {
	transition: 0.4s ease;
	margin-left: 150px;
}

.leftPaddingLg {
	margin-left: 300px;
	transition: 0.4s ease;
}

.rightMargin {
	margin-right: 70px !important;
}

@media (max-width: 600px) {
	.leftPaddingSm {
		margin-left: 90px;
	}

	.leftPaddingLg {
		margin-left: 90px;
	}

	.rightMargin {
		margin-right: 30px !important;
	}
}

.errors-message {
	color: var(--text-primary);
	background-color: var(--bg-primary);
}

.errors-message-dark {
	color: var(--dark-text-primary);
	background-color: var(--dark-bg-primary);
}

.topMenuBtn,
.topMenuBtn-dark {
	position: absolute;
	right: calc(36px + (70 - 36) * ((100vw - 600px) / (1600 - 600)));
	top: calc(222px + (274 - 222) * ((100vw - 800px) / (1600 - 800)));
}

.topMenuBtn i,
.topMenuBtn-dark i {
	font-size: var(--xl);
	color: var(--text-primary);
}

.topMenuBtn-dark i {
	color: var(--dark-text-primary);
}
