/* Import CSS */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "./styles/bootstrap-classes.css";
@import "./styles/general.css";
@import "./styles/navbar.css";
@import "./styles/sidebar.css";
@import "./styles/page-header.css";
@import "./styles/dashboard.css";
@import "./styles/kanban.css";
@import "./styles/notes.css";
@import "./styles/profile.css";
@import "./styles/pricing.css";
@import "./styles/utility-classes.css";

/* Varibales */

:root {
	/* Light theme */
	--bg-primary: #ffffff;
	--bg-navbar: #e9e9e9;
	--bg-interact: #e3e3e3;
	--bg-modal: #d5d5d5;
	--text-primary: #37352f;
	--text-secondary: #8f8e8a;

	/* Dark theme */
	--dark-bg-primary: #191919;
	--dark-bg-navbar: #202020;
	--dark-bg-interact: #2c2c2c;
	--dark-bg-modal: #272727;
	--dark-text-primary: #f6f6f6;
	--dark-text-secondary: #9b9b9b;
	--dark-text-terciary: #b2b2b2;

	/* Colors */
	--color-primary: #6c63ff;
	--color-primary-interact: #6058f8;
	--color-primary-btn: #eae9fd;
	--color-primary-btn-interact: #e2e1fd;
	--color-primary-btn-second-interact: #d1d0fa;
	--color-secondary: #e15047;
	--color-secondary-interact: #fae2e0;

	/* Font family */
	font-family: "Noto Sans", sans-serif !important;

	/* Font weight */
	--slogan: 700;
	--title: 600;
	--button: 500;
	--subtitle: 400;
	--link: 300;
	--text: 200;

	/* Font size */
	--icon: 90px;
	--xxxxl: 68px;
	--xxxl: 50px;
	--xxl: 38px;
	--xl: 28px;
	--lg: 24px;
	--md: 20px;
	--sm: 16px;
	--xs: 14px;
	--xxs: 12px;
}
