:root {
	/* Light theme */
	--bg-primary: #ffffff;
	--bg-navbar: #e9e9e9;
	--bg-interact: #ebebe9;
	--bg-modal: #d5d5d5;
	--text-primary: #37352f;
	--text-secondary: #8f8e8a;

	/* Dark theme */
	--bg-primary: #191919;
	--bg-navbar: #202020;
	--bg-interact: #2c2c2c;
	--bg-modal: #272727;
	--text-primary: #d3d3d3;
	--text-secondary: #9b9b9b;

	/* Colors */
	--color-primary: #eb5757;
	--color-primary-hover: #db4e4e;
	--color-secondary: #0075d3;
	--color-secondary-hover: #006dc6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
