@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	/* Light theme */
	--bg-primary: #ffffff;
	--bg-navbar: #e9e9e9;
	--bg-interact: #e3e3e3;
	--bg-modal: #d5d5d5;
	--text-primary: #37352f;
	--text-secondary: #8f8e8a;

	/* Dark theme */
	--dark-bg-primary: #191919;
	--dark-bg-navbar: #202020;
	--dark-bg-interact: #2c2c2c;
	--dark-bg-modal: #272727;
	--dark-text-primary: #f6f6f6;
	--dark-text-secondary: #9b9b9b;
	--dark-text-terciary: #b2b2b2;

	/* Colors */
	--color-primary: #6c63ff;
	--color-primary-interact: #6058f8;
	--color-primary-btn: #f0effd;
	--color-primary-btn-interact: #dfdefc;
	--color-secondary: #e15047;
	--color-secondary-interact: #fae2e0;

	/* Font family */
	font-family: "Noto Sans", sans-serif;

	/* Font weight */
	--slogan: 700;
	--title: 600;
	--button: 500;
	--subtitle: 400;
	--link: 300;
	--text: 200;

	/* Font size */
	--icon: 90px;
	--xxxxl: 68px;
	--xxxl: 50px;
	--xxl: 38px;
	--xl: 28px;
	--lg: 24px;
	--md: 20px;
	--sm: 16px;
	--xs: 14px;
	--xxs: 12px;
}

/* General styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-weight: var(--slogan) !important;
	font-size: var(--xxxxl) !important;
	line-height: 0.8 !important;
}

h2 {
	font-weight: var(--title) !important;
	font-size: var(--xxxl) !important;
}

h4 {
	color: var(--text-secondary) !important;
}

a,
button {
	font-weight: var(--link);
}

p {
	font-weight: var(--text);
}

input:focus {
	outline: none;
}

input::placeholder {
	font-size: var(--xs) !important;
	color: var(--dark-text-secondary) !important;
}

/* Bootstrap classes */
.text-dark {
	color: var(--text-primary) !important;
}

.text-muted {
	font-size: var(--xxs) !important;
}

.text-light {
	color: var(--dark-text-primary) !important;
}

.form-control {
	padding: 4px 8px !important;
	background-color: var(--color-primary-btn) !important;
}

.me-6 {
	margin-right: 70px;
}

/* Utility classes */

.purple-btn,
.purple-outline-btn,
.red-outline-btn {
	display: block !important;
	font-weight: var(--button) !important;
	background-color: var(--color-primary) !important;
	font-size: var(--sm) !important;
	text-decoration: none !important;
	color: var(--dark-text-primary) !important;
	border: 1px solid var(--color-primary) !important;
	border-radius: 8px !important;
}

.purple-btn:hover {
	background-color: var(--color-primary-interact) !important;
}

.purple-outline-btn {
	background-color: var(--color-primary-btn) !important;
	color: var(--color-primary) !important;
}

.purple-outline-btn:hover {
	background-color: var(--color-primary-btn-interact) !important;
}

.red-outline-btn {
	border: 1px solid var(--color-secondary) !important;
	background-color: var(--color-secondary-btn) !important;
	color: var(--color-secondary) !important;
}

.red-outline-btn:hover {
	background-color: var(--color-secondary-interact) !important;
}

.brand-link {
	text-decoration: none !important;
	color: var(--text-primary) !important;
	font-weight: var(--button) !important;
	font-size: var(--md) !important;
	border-radius: 8px !important;
}

.nav-btn {
	text-decoration: none;
	color: var(--text-primary) !important;
	font-weight: var(--button) !important;
	font-size: var(--sm) !important;
	display: block !important;
	margin-inline: 16px;
	margin-top: 2px !important;
}

.nav-btn:hover,
.nav-btn:focus {
	background-color: var(--bg-interact) !important;
	border-radius: 8px !important;
	text-decoration: none !important;
}

/* Navbar */

.nav-icon {
	width: 25px;
}

/* Sidebar */

.sidebar {
	z-index: 9999;
}

.sidebar>div:not(.toggled) {
	min-width: 230px !important;
	width: 230px !important;
}

.sidebarProfileImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.head-text {
	padding-top: 4px;
}

.sidebar li {
	margin: 4px 10px;
}

.sidebar-content span {
	font-weight: var(--subtitle);
}

.sidebar-content p {
	font-weight: var(--link);
}

.sidebar-label {
	color: var(--text-secondary);
	font-size: var(--xs);
}

.logout-btn {
	color: var(--color-secondary) !important;
}

.sidebar-brand {
	font-weight: var(--button) !important;
	font-size: var(--md) !important;
}

/* Page header */

.Header {
	margin-left: 80px;
}

.headerImg {
	object-fit: cover;
	width: 100%;
	height: 200px;
}

.headerImageButton {
	position: absolute;
	bottom: 40px;
	right: 60px;
	border: none;
	background-color: transparent;
	padding: 5px;
	transition: 0.5s ease;
}

.headerImageButton i {
	font-size: var(--xl);
	color: var(--color-primary-btn-interact);
	border-radius: 4px;
}

.headerInput {
	border: none;
	font-size: var(--xxxl);
	font-weight: var(--slogan) !important;
}

.headerInput::placeholder {
	font-size: var(--xxxl) !important;
}

.headerInput:focus {
	outline: none;
}

.headerIcon {
	position: absolute;
	background-color: transparent !important;
	border: none;
	display: block !important;
	top: -40px;
	font-size: var(--icon) !important;
}

.EmojiPickerReact {
	position: absolute !important;
	margin-left: 60px;
}

.leftPaddingSm {
	transition: 0.4s ease;
	margin-left: 150px;
}

.leftPaddingLg {
	margin-left: 300px;
	transition: 0.4s ease;
}

/* ----- */

.emojiHeader {
	position: absolute;
	bottom: -90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.react-emoji {
	width: 100% !important;
}

.react-input-emoji--container {
	position: relative;
	width: 200px;
	background-color: transparent !important;
	border: none !important;
}

.react-input-emoji--input {
	padding: 100px 100px 100px 40px !important;
	width: 250px !important;
}

.react-input-emoji--input img {
	scale: 5;
}

.react-input-emoji--placeholder {
	font-size: 90px;
	top: 20px !important;
	left: 0 !important;
}

.react-emoji>* {
	padding: 0 !important;
	margin: 0 !important;
	border: none;
}

.react-emoji-picker--container {
	position: absolute;
	top: 500px !important;
	left: 0;
	width: 100%;
}

.react-emoji-picker--wrapper {
	left: 0 !important;
}

.emoji-mart-dark .emoji-mart-bar,
.emoji-mart-light .emoji-mart-bar {
	height: 0 !important;
}

.react-input-emoji--button {
	position: absolute !important;
	width: 100px;
	height: 100px;
	z-index: 100;
}

.react-emoji svg {
	fill: transparent !important;
}

.saveIconBtn {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 2px;
	background-color: var(--color-primary);
}

/* Dashboard */

.Callout {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-grow: 1;
	background-color: var(--bg-navbar);
	border-radius: 4px;
	padding: 10px 16px;
	width: 90%;
}

.Callout p {
	font-size: var(--lg);
	margin-bottom: 4px;
}

.Callout div {
	width: 90%;
}

.Callout input {
	border: none;
	width: 100%;
	background-color: var(--bg-navbar);
}

.addTodoInput {
	background-color: var(--bg-navbar);
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding: 10px 16px;
	border-radius: 4px;
}

.todoList i {
	color: var(--dark-text-primary);
}

.addTodoInput input {
	background-color: transparent;
	width: 100%;
	margin-left: 16px;
	border: none;
}

.addTodoInput button {
	border: none;
	padding: 3px 7px;
	background-color: var(--color-primary);
	font-weight: var(--button);
	border-radius: 4px;
}

.todoList ul {
	margin-top: 20px;
	margin-left: 16px;
	list-style: none;
	padding-left: 2px;
}

.todoList li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

.todoList li:hover,
.todoList ul input[type="text"]:hover {
	background-color: var(--color-primary-btn-interact);
	transition: 0.3s ease;
}

.todoList li div {
	display: flex;
	align-items: center;
}

.todoList input[type="checkbox"] {
	margin-left: 5px;
	margin-right: 20px;
	border-radius: none;
	width: 1.15em;
	height: 1.15em;
	accent-color: var(--color-primary);
}

.todoList ul input[type="text"] {
	border: none;
	width: 100%;
	padding: 3px 7px;
	background-color: transparent;
}

.deleteTodo {
	border: none;
	padding: 3px 7px;
	background-color: rgb(252, 131, 131);
	font-weight: var(--button);
	border-radius: 4px;
}

.crossedItem {
	text-decoration: line-through !important;
	color: var(--dark-text-secondary) !important;
}

.crossedItem input[type="text"] {
	color: var(--dark-text-secondary) !important;
}

/* Kanban */

.react-trello-board {
	background-color: transparent !important;
}

/* Profile */

.profileHeader {
	background-color: var(--bg-navbar) !important;
}

/* Pricing */

.pricing-header {
	background-color: var(--bg-navbar) !important;
}

.pricing-card h3 {
	color: var(--color-primary);
}

.pricing-body ul {
	list-style: none;
	padding-left: 20px;
}

.pricing-body li {
	display: flex;
	gap: 10px;
}

.pricing-body li p {
	margin-bottom: 0;
}

.pricing-icon {
	font-size: var(--xxl);
}